body {
  background-color: #f9f9f9;
}
.fixed-header {
  max-width: 1200px;
  background: white;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  margin: 0 auto;
  top: 0;
  z-index: 1000;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 72vh;
}

.left-container {
  width: 25%;
  height: 70vh;
  background-color: #fff;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.left-container img {
  display: block;
  width: 40px;
  height: auto;
  margin: 20px auto;
}

.right-container {
  flex-grow: 1;
  height: 70vh;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  height: 100%;
}

.product-card img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.add-btn {
  border: 1px solid #28a745;
  color: #28a745;
  border-radius: 20px;
  padding: 2px 15px;
  font-size: 14px;
  background: none;
}

@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: row;
  }

  .left-container {
    width: 25%;
  }
  .right-container {
    padding: 0.5rem;
  }

  .right-container .row {
    margin-right: 0;
    margin-left: 0;
  }
  .right-container {
    display: flex;
    flex-wrap: wrap;
  }
  .right-container .col-6 {
    width: 16%;
    flex: 0 0 70%;
    max-width: 13%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
  }
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
}
