* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  /* height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
}

.left-categories {
  width: 100px;
  height: 90vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}

.left-categories ul {
  list-style: none;
  padding-left: 0;
}

.left-categories li {
  margin-bottom: 15px;
  font-weight: 500;
}

.right-products {
  flex-grow: 1;
  height: 90vh;
  overflow-y: auto;
  padding: 5px;
  background-color: #f9f9f9;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 100%;
}

.product-card img {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  object-fit: contain;
  margin-bottom: 10px;
}

.left-categories img {
  display: block;
  width: 40px;
  height: auto;
  margin: 20px auto;
}
.image-wrapper {
  position: relative;
}

.add-btn-on-img {
  position: absolute;
  bottom: 8px;
  left: 10px;
  z-index: 2;
  padding: 4px 12px;
  font-size: 0.75rem;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: row;
    width: 100%;
  }

  .left-categories {
    width: 15%;
    /* overflow-x: hidden; */
    overflow-y: auto;
    height: 100vh;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .right-products {
    width: 85%;
    height: 100vh;
  }
  .product-card {
    width: 150px;
  }
  .text-mobile-small {
    font-size: 1rem;
  }

  .text-mobile-small {
    font-size: 0.75rem;
  }
  .text-small-mobile {
    font-size: 1rem;
  }

  .text-small-mobile {
    font-size: 0.75rem;
    margin-right: 10px;
  }
}

/* view cart */
.cart-bar {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #28a745;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s ease;
  z-index: 9999;
  display: none;
}

/* @media (max-width: 576px) {
  .cart-bar {
    width: 90%;         
    max-width: 90%;     
    border-radius: 10px;
  } 
 } */
